//baseWidth
//baseWidth
$base-width: 1330px;

$main-fonts: "Noto Sans JP", sans-serif;
$main-fonts2: "Noto Serif JP", serif;
$main-fonts3: "Roboto", sans-serif;
$main-fonts4: "vdl-gigamaru", sans-serif;


//color common

$white-color: #fff;
$red-color: #c30f23;
$text-color: #231916;
$yellow-color: #fdcf00;


:root {
    --main-color: #b8a47e;
    --black1-color: #000;
    --white-color: #fff;
    --gray-color: #ededed;
    --text-color: #383838;
    

    --main-font: "Montserrat", sans-serif;
    --roboto-font: "Roboto", sans-serif;



}



