<footer class="c-footer">
  <div class="l-container">
      <div class="c-footer__top">
        <a href="<%= BASE_URL %>index.html" class="c-footer__logo">
            <img src="/assets/img/common/logo.svg" alt="Tanner Goods Portland Ore">
        </a>
        <div class="c-footer__menu">
          <nav class="c-menu__links">
            <a href="#" class="c-menu__link c-active">
                FINDA
            </a>
            <a href="#" class="c-menu__link">
                STORE
            </a>
            <a href="#" class="c-menu__link">
                SIZING
            </a>
            <a href="#" class="c-menu__link">
                CARE
            </a>
            <a href="#" class="c-menu__link">
                WATCH
            </a>
          </nav>
        </div>
        <div class="c-footer__address">
            <h5 class="c-footer__company">
               Sebazzo Ltd, Unit 3F2
            </h5>
            <p class="c-address">
                Zetland House<br>
                5-25 Scrutton Street<br>
                London EC2A 4HJ
            </p>
        </div>
        <div class="c-footer__contact" id="contact">
            <h5 class="c-contact__email">
                EMAIL NEWSLETTERS
            </h5>
            <p class="c-contact__desc">
                Sign up for new TANNER GOODS content, updates, surveys & offers.
            </p>
            <div class="c-form__container">
                <form action="#" method="POST">
                    <label for="email" class="c-visually-hidden">Email:</label>
                    <input type="email" id="email" name="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                    <button type="submit">
                       <img src="/assets/img/button/submit_icon.png" alt="Submit Icon">
                    </button>
                </form>
            </div>
        </div>
      </div>
      <div class="c-footer__bottom">
          <p class="c-copy__right">
              © TANNER GOODS PORTLAND ORE 2016
          </p>
          <div class="c-footer__socials">
            <nav class="c-menu__links">
              <a href="#" target="_blank" class="c-menu__link ">
                  facebook
                  <span>facebook</span>
              </a>
              <a href="#" target="_blank" class="c-menu__link c-active">
                  pinterest
                  <span>pinterest</span>
              </a>
              <a href="#" target="_blank" class="c-menu__link">
                  twitter
                  <span>twitter</span>
              </a>
              <a href="#" target="_blank" class="c-menu__link">
                instagram
                  <span>instagram</span>
              </a>
              <!-- Note: Use a <span> element with content identical to the content of the <a> element to address the issue of resizing when changing the font weight by hovering over the element. -->
            </nav>
          </div>
      </div>
  </div>
</footer>