<header class="c-header">
    <div class="c-header__fixed">
        <div class="c-header__wrapper">
            <a href="<%= BASE_URL %>index.html" class="c-header__logo">
                <img src="/assets/img/common/logo.svg" alt="Tanner Goods Portland Ore">
            </a>
            <nav class="c-menu__links">
                <a href="#navy-salt" class="c-menu__link c-menu__link--navy c-active">
                    NAVY SALT
                </a>
                <a href="#voyager" class="c-menu__link c-menu__link--voyager">
                    VOYAGER
                </a>
                <a href="#drifter" class="c-menu__link c-menu__link--white">
                    DRIFTER
                </a>
                <a href="#collection" class="c-menu__link c-menu__link--white">
                    COLLECTION
                </a>
                <a href="#contact" class="c-menu__link c-menu__link--white">
                    CONTACT
                </a>
            </nav>
            <div class="c-header__burger">
                <div class="menu-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- Menu Modal -->
        <div class="c-modal__menu">
            <nav class="c-mm__links">
                <a href="#navy-salt" class="c-mm__link">
                    <i class="fa-solid fa-circle-notch"></i>
                    <span>NAVY SALT</span>
                </a>
                <a href="#voyager" class="c-mm__link">
                    <i class="fa-solid fa-circle-notch"></i>
                    <span>VOYAGER</span>
                </a>
                <a href="#drifter" class="c-mm__link">
                    <i class="fa-solid fa-circle-notch"></i>
                    <span>DRIFTER</span>
                </a>
                <a href="#collection" class="c-mm__link">
                    <i class="fa-solid fa-circle-notch"></i>
                    <span>COLLECTION</span>
                </a>
                <a href="#contact" class="c-mm__link">
                    <i class="fa-solid fa-circle-notch"></i>
                    <span>CONTACT</span>
                </a>
            </nav>
            <nav class="c-mm__socials">
                <a href="#" target="_blank" class="c-mm__social">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="#" target="_blank" class="c-mm__social">
                    <i class="fa-brands fa-pinterest"></i>                </a>
                <a href="#" target="_blank" class="c-mm__social">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="#" target="_blank" class="c-mm__social">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </nav>
        </div>
        <!-- Menu Modal -->
    </div>
</header>

